.navbar {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 60px;
  box-shadow: 0px 2px 4px RGB(0 0 0/18%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_title {
  margin-left: 40px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  font-family: "century gothic";
  color: #551a8b;
}
.navbar_button {
  margin-right: 40px;
  font-size: 1.5rem;
  background-color: #551a8b;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
}
.loader {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  background-color: #f0f0f2;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
}
.card:hover {
  opacity: 0.8;
}
.card_image {
  width: 165px;
  height: 165px;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.card_details {
  align-items: center;
  display: flex;
  margin-left: 20px;
}
.card_detailsTile {
  font-size: 1.5rem;
  font-family: "century gothic";
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
}
.cardDetails_box {
  height: auto;
  background-color: #e6ecf6;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 20px;
  padding-left: 20px;
  margin-bottom: 40px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardDetails_imageAndZoom {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.cardDetails_imageWrapper {
  //
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.cardDetails_image {
  // width: 50%;
  margin-top: 60px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.cardDetails_zoomIcons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 20px;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  top: 30px;
}

.cardDetails_zoomIn:hover {
  color: white;
  cursor: pointer;
}

.cardDetails_zoomOut:hover {
  color: white;
  cursor: pointer;
}
.cardDetails_title {
  font-family: "century gothic";
}
.cardDetails_shareIcons {
  cursor: pointer;
  margin-bottom: 10px;
}
.footer {
  height: 80px;
  padding-top: 50px;
}
.footer_text {
  text-align: center;
  color: gray;
}

.modal_section {
  display: flex;
  flex-direction: column;
  position: fixed;
  background: white;
  width: 40%;
  height: auto;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: #000;
}
.modal_closeButton {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 50px;
  width: 50px;
  border: 1px solid #fff;
  border-radius: 25px;
  cursor: pointer;
}
.modal_closeButton:hover {
  color: #fff;
}
.modal_image {
  width: 100%;
  height: 300px;
  border-radius: 20px;
}
.modal_text {
  text-align: center;
  color: #fff;
  padding-right: 10px;
  padding-left: 10px;
}

@media only screen and (max-width: 980px) {
  .modal_main {
    width: 40%;
  }
}

@media only screen and (max-width: 760px) {
  .modal_section {
    width: 70%;
  }
  .navbar_title {
    font-size: 1.5rem;
  }
  .navbar_button {
    padding: 5px;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 410px) and (max-width: 560px) {
  .navbar_title {
    font-size: 1rem;
  }
  .navbar_button {
    font-size: 1rem;
  }
  .card_detailsTile {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 409px) {
  .navbar_title {
    font-size: 0.7rem;
  }
  .navbar_button {
    display: none;
  }
  .card_detailsTile {
    display: none;
  }
  .card_details {
    display: none;
  }
  .card {
    background-color: #fff;
    justify-content: center;
  }
}
